venv
.vscode

.pytest_cache
**__pycache__**
workspace.code-workspace


*.log
*.out
.idea/*
*.iml
*.zip

*.DS_Store

src/domain/test*
notebooks/.ipynb_checkpoints/*
notebooks/*results*/*
notebooks/*.swp
notebooks/*.csv

src/entrypoint/create_exp_series/*.swp

data/multifarm/all-v2
